body{
  background-color: #2F2F2F;
}

.grain {
  height: 100%;
  width: 100%;
}

.grain:after {
  background-image: url("Grain.gif");
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.0225;
  position: fixed;
}

.content{
  align-items: center;
}

.intro{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  color: #DDBEA9;
  text-transform: uppercase;
}

.comingsoon{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
  color: #6B705C;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.5px;
}
