/*
Tailwind Colors used:
  - blue-500: accent
  - blue-700: accent-dark
  - gray-900: bg
  - slate-200: text-primary
  - slate-300: text-secondary
  - slate-400: text-tertiary
  - neutral-900: black
  - gray-500: gray
  - gray-200: gray-light
  - gray-700: gray-dark
  - gray-800: --bg-bento
  - slate-700: --bg-border
https: //tailwindcss.com/docs/customizing-colors
*/
@font-face {
  font-family: "Zodiak";
  src: url("/fonts/Zodiak-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/Zodiak-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --accent: #3b82f6;
  --accent-dark: #1d4ed8;
  --bg: #111827;
  --text-primary: #e2e8f0;
  --text-secondary: #cbd5e1;
  --text-tertiary: #94a3b8;
  --black: #171717;
  --gray: #6b7280;
  --gray-light: #e5e7eb;
  --gray-dark: #374151;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --bg-bento: #1f2937ae;
  --bento-border: #1f2937;
}

body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--bg);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-secondary);
  font-size: 20px;
  line-height: 1.7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

.title {
  text-align: left !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4rem 0;
  color: var(--text-primary);
  line-height: 1.2;
}

h1 {
  font-size: 3.082em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.853em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent-dark);
}

p,
ul,
li {
  color: var(--text-secondary);
  font-family: "Zodiak", serif;
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 4px 6px;
  color: var(--text-primary);
  background-color: var(--gray-dark);
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}

pre {
  padding: 1.2em;
  border-radius: 8px;
  font-size: 0.8em !important;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--gray-dark) !important;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.2em;
  font-style: italic;
}

hr {
  border: none;
  border-top: 1px solid var(--gray-light);
}

br {
  display: block;
  margin: 2.8em 0;
  content: "";
}

.tag {
  background-color: var(--bg);
  color: var(--text-secondary);
  padding: 0.3rem 0.8rem;
  border-radius: 12px;
  font-size: 0.9rem;
  white-space: nowrap;
  transition: box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

:focus {
  outline: 2px solid var(--accent-dark);
  border-radius: 4px;
  outline-offset: 2px;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}