---
const today = new Date();
---

<footer>
  <a href="mailto:wchadun@gmail.com"> Let's talk!</a>
  &copy; {today.getFullYear()}. All rights reserved.
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 2em;
    color: var(--gray);
    text-align: center;
    font-size: 0.8em;
  }
</style>
